{    
    "env" : {
        "browser" : true,
        "node" : true,
        "es6" : true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "spread" : true,
            "restParams" : true,
            "jsx": true
        }
    },
    "plugins": [
        "react"
    ],
    "settings": {
        "react": {
            "createClass": "createClass",
            "pragma": "React",
            "version": "15.0"
        }
  }
}